.posts {
  padding: 20px 0;
  font-size: 25px;
  font-weight: 900;
};

form {
  font-weight: bold;
  font-size: 20px;
  margin: 20px 40px;
  z-index: 1;
  padding: 40px;
}

@media (max-width: 768px) {
  form {
  margin-top: 50px;
  padding: 0;
  }
}

.button-holder {
  display: flex;
  justify-content: flex-end;
  padding: 20px 0;
}

.cancel-button {
  margin-right: 20px;
}

.editor {
  margin-top: 20px;
  height: 300px !important;
}